/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'CircularStd';
    src: url('/src/assets/fonts/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/src/assets/fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/src/assets/fonts/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/src/assets/fonts/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('/src/assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

.circularBlack {
    font-family: 'CircularStd', serif;
    font-weight: 900;
}

.circularBold {
    font-family: 'CircularStd', serif;
    font-weight: 700;
}

.circularBook {
    font-family: 'CircularStd', serif;
    font-weight: 400;
}

.circularMedium {
    font-family: 'CircularStd', serif;
    font-weight: 500;
}

.titilliumBlack {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: 900;
}

.titilliumBold {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: 700;
}

.titilliumRegular {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: 400;
}

.titilliumSemiBold {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: 600;
}



.montserrat{
    font-family: 'Montserrat', serif;
    color: white;
}